html {
    font-size: 16px;
    font-family: 'notosans', sans-serif;
}

body {
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #F8F6F0;
}

/*HEADER SECTION*/
header, nav, .nevtreh-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    height: 5rem;
    width: 100%;
    font-size: 1.25rem;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    nav {
        width: 13.75rem;
    }
    .nevtreh-search {
        width: 40.62rem;
    }
}

.logo {
    width: 50px;
    height: 50px;
}

input, button {
    border: none;
    height: 30px;
    border-radius: 2rem;
    font-size: 1rem;
}

.more-search {
    background-color: white;
    border: 3px solid #FF8C42;
    color: black;
    width: 12.5rem;
    font-weight: 100;
}

button {
    background-color: #FF8C42;
    color: white;  
    width: 120px;
    font-weight: bold;
    transition: opacity 0.15s;
}

button:hover, .search-logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:active {
    opacity: 0.6;
}

input {
    width: 13.75rem;
    padding-left: 1.87rem;
    color: #535353;
    background-color: #E7E7E7;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: #FF8C42;
}

/*MAIN SECTION*/
main {
    flex: 1;
    margin-top: 7rem;
}

.foods-section {
    margin: 4rem 7rem 4rem 7rem;
    padding: 1.81rem 3.56rem;
    box-sizing: border-box;
    border-radius: 2rem;
    background-color: #fff;
    a, h4 {
        color: #FF8C42;
    }
}

.food-info, .food-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-title {
    height: 3.12rem;
    h2 {
        font-size: 1.5rem;
        font-family: 'pattaya';
    }
    a {
        font-size: 0.8rem;
    }
}

.food-title a:hover {
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
}

.food-image {
    width: 16.25rem;
    height: 10.9rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.type-rate {
    height: 0.875rem;
    width: 14.43rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    h4 {
        font-size: 1rem;
        font-family: 'Philosopher';
        color: #FF8C42;
    }
    .rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 5rem;
        height: 1rem;
        img {
            width: 1rem;  
            height: 1rem;      
        }
        p {
            font-size: 1rem;
        }

        span {
            color: rgb(111, 111, 111);
            font-size: 1rem;
        }
    }
}

.food-name {
    font-size: 1rem;
    font-family: 'Merriweather';
    width: 14.43rem;
    height: 2.25rem;
}

.time-member-kalore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14.43rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #777777;
    img {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.25rem;
        opacity: 0.6;
    }
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*FOOTER SECTION*/
footer {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
}