:root {
    /* Colors */
    --primary-color: #FF8C42;
    --background-color: #fff6ed;
    --white: #fff;
    --text-primary: #000;
    --text-secondary: #535353;
    --text-tertiary: #777777;
    --text-light: rgb(111, 111, 111);
    --input-bg: #E7E7E7;
    --border: #ccc;
}


body{
    margin: 7rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template: 
    "aside section";
}
 aside{
    padding: 2rem;
    background-color: var(--white);
    border-radius: 25px;
    grid-area: aside;
    justify-items: center;
    text-align: center;
    position: fixed;
    .img-profile{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
     
    .info{

        margin-top: 1rem;
        justify-content: center;
        align-items: center;
        li{
            margin-bottom: 0.5rem;
        }
    }
 }

     button {
        background-color: var(--primary-color);
        border: none;
        border-radius: 15px;
        color: var(--white);  
        width: 120px;
        font-weight: bold;
        transition: opacity 0.15s;
        
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
        
        &:active {
            opacity: 0.6;
        }
    }

 section{
    grid-area: section;
    .form{
        background-color: var(--white);
        padding: 1rem;
        border-radius: 15px;
        margin-bottom: 2rem;
        label{
            font-weight: bold;
            color: var(--text-primary);
        }
        input, textarea{
            width: 100%;
            padding: 0.5rem;
            margin: 0.5rem 0 1rem 0;
            border: none;
            border-radius: 8px;
            background-color: var(--input-bg);
            font-size: 1rem;
            color: var(--text-primary);
        }
        button{
            background-color: var(--primary-color);
            color: var(--white);
            border: none;
            padding: 0.7rem 1.5rem;
            border-radius: 8px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover{
                background-color: darken(var(--primary-color), 10%);
            }
        }

    }
    .upload-box{
        display:flex;
        align-items:center;
        justify-content:center;
        height:160px;
        border-radius:15px;
        border:2px dashed var(--border);
        background: var(--white);
        font-size:14px;
        cursor:pointer;
    }

 }
